.footer {
  &--active {
    background-color: rgba(0, 0, 0, 0);
  }

  &__socialitem {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-right: 1em;
  }

  position: fixed;
  bottom: 0;
  width: 30px;
  margin-left: 97.5vw;

  padding-bottom: 20px;
  padding-top: 20px;
}

.react-icons {
  transition: 0.3s;
  color: $grafix-grayer;
  &:hover {
    transition: 0.3s;
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    position: fixed;
    z-index: 902;
    padding: 0;
    width: 80vw;
    font-size: 0.8em;
    margin-left: 0;

    &__socialitem {
      display: inline;
      font-size: 1.5em;
      margin-right: 1em;
      margin-top: -1em;
      position: relative;
      z-index: 9999;
    }

    &__socials {
      padding-right: 0;
      padding-left: 2.5em;
      padding-bottom: 0.5em;
    }
  }
}
