.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 450px;
  position: relative;
  transform-origin: top left;
  transform: scale(0.8);

  &__button {
    text-transform: uppercase;
    text-align: center;
    background-color: $grafix-red;
    font-size: 0.9em;
    letter-spacing: 5px;
    font-weight: lighter;
    min-width: 200px;
    align-self: center;
    padding: 1rem;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 1px;

    outline: none;

    margin-top: 5em;
    transition: 0.3s;

    &:active,
    &:focus {
      border: 2px $grafix-red solid;
      transition: 0.3s;
    }

    &:hover {
      cursor: pointer;
      background: $grafix-red;
      transition: 0.3s;
      border: 1px $grafix-red solid;
    }
  }
}

.form > input,
.form > textarea {
  padding: 0.9rem;
  background: white;
  border: none;
  color: black;
  // border-bottom: 2px white solid;
  outline: none;
  margin-bottom: 2em;
  border-radius: 1px;

  /* &:active,
  &:focus {
    border-bottom: 2px $grafix-red solid;
  } */
}

.form textarea {
  height: 200px;
}

.form label {
  padding-bottom: 0.8em;
}
