@import './_variables';
@import './_animations';

.landing {
  animation: fade 0.8s;
  background-image: $background-image;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  height: 100%;

  &__logo {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1300px) {
  .landing {
    height: 100vh;
    &__logo {
      transition: 0.5s;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 900px) {
  .landing {
    background-image: $background-image-mobile;
    background-position: center;
    &__logo {
      transition: 0.5s;
      max-width: 300px;
    }
  }
}
