@import './_variables';

.landing {
  background-image: $background-image;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  height: 100vh;

  &__logo {
    transition: 2s;
    margin-top: 7rem;
  }
}

@media screen and (max-width: 1300px) {
  .landing {
    &__logo {
      transition: 0.5s;
      max-width: 500px;
    }
  }
}
