.header {
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 999;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;

  padding-top: 0.6em;
  padding-bottom: 0.6em;

  &--active {
    background-color: rgb(0, 0, 0);
    transition: 0.8s;
  }

  &__list {
    &item {
      display: inline-block;
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-right: 2rem;
    }
  }

  &__link {
    color: $grafix-gray;
    font-weight: medium;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      color: gray;
    }

    &--active {
      color: $grafix-red;
      font-weight: bold;

      &:hover {
        color: $grafix-red;
      }
    }
  }
}

@media screen and (max-width: 1300x) {
  .header {
    height: $header-height-smaller;
  }
}
