.header {
  width: 100%;
  background-color: rgb(43, 43, 43);
}

.nav {
  transition: 0.5s;
  &__list {
    &item {
      display: inline-block;
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-right: 2rem;
    }
  }

  &__link {
    color: $grafix-gray;
    font-weight: medium;

    &--active {
      color: $grafix-red;
      font-weight: bold;
    }
  }
}
