.release {
  max-width: 800px;
  z-index: 9999;
  position: relative;

  animation: fade 2s ease;

  &__heading {
    text-transform: uppercase;
    display: inline-block;
  }
  &__date {
    display: inline;
    margin-left: 1em;
  }

  &__body {
    display: grid;
    grid-template-columns: 15em auto;
  }

  &__content {
    display: grid;
    grid-template-rows: 15% auto 15%;
  }

  &__text {
    max-width: 470px;
    color: $grafix-gray;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.3em;
    letter-spacing: 0.03em;
  }

  &__image {
    width: 220px;
  }

  &__button {
    display: block;
    padding: 0.46em 0 0.46em 0;
    max-width: 100px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: $grafix-red;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: white;
      color: black;
    }
  }
}

@media screen and (max-width: 1300px) {
  .release {
    &__image {
      width: 220px;
      height: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .release {
    z-index: 900;
    width: 100%;
    margin-left: -2em;
    display: absolute;
    width: 100vw;
    padding: 2em;
    background-color: black;

    &__body {
      display: block;
      grid-template-columns: 15em auto;
    }

    &__heading {
      padding-top: 0.5em;
      padding-bottom: 0;
    }

    &__title {
      margin-bottom: 0.2em;
    }

    &__date {
      margin: 0;
    }

    &__image {
      padding: 1em 0 1em 0;
    }

    &__buttoncontainer {
      padding-top: 1em;
    }

    &__text {
      margin-top: 0.5em;
    }
  }
}
